/* Base Application Styles */
html,body{
	background-color:#222;
}

.content{
	width:100%;
	height:100%;
}


/*stage -- start*/
.stage{
	position:relative;
	width:100%;
	height:800px;
}

/*stage -- end*/

/*img -- start*/
.img-sec{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
	background:#ddd;
}
.img-figure{
	width:320px;
	height:360px;
	margin:0;
	padding:40px;
	box-sizing:border-box;
	background-color:#fff;
	position:absolute;
}
.img-figure img{
	width:240px;
	height:240px;
}
.img-title{
	width:100%;
	text-align: center;
	height:40px;
	line-height: 40px;
	margin:0;
	color:#a7a0a2;
	font-size:16px;
}
/*img -- end*/

/*controller -- start*/
.controller-nav{
	position:absolute;
	bottom: 30px;
	left:0;
	z-index: 101;
	width:100%;
	text-align: center;
}
/*controller -- end*/